body {
    background-image: url("Images/star wars stormtroopers black background 1920x1151 wallpaper_www.wallpapername.com_63.jpg");
    background-color: black;
    color: gold;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#intro {
    text-align: center;
    -webkit-text-stroke: 2px black;
    font-size: 80px;
}

#insertCharacters {
    border: gold 2px solid;
    text-decoration-line: underline ;
    text-decoration-color: gold;
}

#outro {
    text-align: center;
    -webkit-text-stroke: 2px black;
    font-size: 80px;
}